[gerrit]
  basePath = git
  canonicalWebUrl = http://localhost
  serverId = abacc002-cb55-45f6-b01f-34522e1117ac

[database]
  type = mysql
  hostname = mysql
  database = reviewdb
  username = gerrit
  password = ala123

[index]
  type = LUCENE

[sendemail]
  smtpServer = localhost

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = http://*:8080/

[cache]
  directory = cache

[container]
  user = root
